@import 'tailwindcss';

@theme {
  --color-primary:#fdec31;
  --color-Cardbg:#e9f4fa;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}